html,
body,
body main {
  min-height: 100%;
  height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    color: #222222;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
}

body main {
  max-width: 680px;
  margin: 0 auto;
  padding-top: 60px;
}

body.dark-theme {
    background-color: #242f3e;
    color: white;
}

h1 {
    margin-left: 4px;
    margin-top: 21px;
    margin-bottom: 0;
    padding-top: 0;
    font-size: 16px;
    padding-left: 11px;
    padding-right: 11px;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 2;
}
#preloader .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    border: #31a9df 3px solid;
    border-left-color: transparent;
    border-radius: 50%;
    -webkit-animation: rotating 1s linear infinite;
}

#buttons {
    clear: both;
    text-align: center;
    margin-bottom: 32px;
}

a, a:hover, a:after, a:focus,
button, button:hover, button:after, button:focus {
    color: #108be3;
    text-decoration: none;
    font-size: 17px;
    padding: 8px;
    border: none;
    box-shadow: none;
    background: none;
    outline: 0;
    cursor: pointer;
    display: inline-block;
    margin-top: 32px;
}

.dark-theme button, .dark-theme button:hover, .dark-theme button:after, .dark-theme button:focus,
.dark-theme a, .dark-theme a:hover, .dark-theme a:after, .dark-theme a:focus {
    color: #36a8f1;
}

.tgchart {
    box-sizing: border-box;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 64px;
    width: 100%;
    float: left;
}
