.tgchart canvas {
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.tgchart canvas.main-chart {
    height: 300px;
}

.tgchart .preview,
.tgchart .preview .preview-chart {
  position: relative;
}
.tgchart .preview .preview-chart {
  z-index: 0;
}
.tgchart .preview canvas.preview-mover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}



/* popup */

.tgchart .popup {
    pointer-events: none;

    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 12px 1px #d8d8d8;

    position: absolute;
    z-index: 999;
    padding: 8px 10px;

    min-width: 150px;
    max-width: 180px;

    transition: left 0.05s ease, top 0.05s ease;
}

.dark-theme .tgchart .popup {
    background: #253241;
    box-shadow: 0 1px 12px 1px #1e2834;
}

.tgchart .popup .title {
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 6px;
}

.tgchart .popup .title .date {
  margin-right: 20px;
}


.tgchart .popup .column {
    font-size: 14px;
}

.tgchart .popup .column > div {
  margin-top: 10px;
}

.tgchart .popup .column.percentages,
.tgchart .popup .column.labels {
  float: left;
}

.tgchart .popup .column.percentages,
.tgchart .popup .column.values {
  font-weight: 600;
}

.tgchart .popup .column.percentages {
  margin-right: 5px;
  text-align: right;
}

.tgchart .popup .column.values {
  float: right;
  text-align: right;
}


/* CHECK */

.tgchart .checks {
    padding-left: 11px;
    padding-right: 11px;
}

.tgchart .checkbox {
    box-sizing: border-box;
    display: block;
    position: relative;
    float: left;
    border: 2px solid #e6ecf0;
    border-radius: 16px;

    padding: 9px 14px 8px 4px;

    margin-right: 14px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 13px;
    line-height: 15px;

    transition: background-color 0.3s linear, border-color 0.3s linear;
}

.tgchart,
.tgchart canvas {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.tgchart .checks {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}

.tgchart .checkbox input ~ .name {
  transition: color 0.3s linear, margin 0.3s linear;
  float: right;
  margin-left: 20px;
  margin-right: 10px;
  font-weight: 500;
}

.light-theme .tgchart .checkbox input ~ .name {
  color: #43484b;
}


.tgchart .checkbox input:checked ~ .name {
  color: #fff;
  margin-left: 0;
  margin-right: 0;
}

.dark-theme .tgchart .checkbox {
    border-color: #344658;
    color: #e8ecee;
}

.tgchart .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.tgchart .checkbox .symbol {
    display: block;
    float: left;

    width: 0;
    height: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;

    background-image: url('../images/check.svg');
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);

    opacity: 0;
    transition: opacity 0.3s linear, transform 0.3s linear, width 0.3s linear, margin 0.3s linear;
}

.tgchart .checkbox input:checked ~ .symbol {
    width: 10px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 1;
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.tgchart .checkbox.shake {
  animation: shake 0.4s cubic-bezier(0.500, 0.250, 0.500, 0.750) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10% {
    transform: translate3d(-3px, 0, 0);
  }

  30% {
    transform: translate3d(2px, 0, 0);
  }

  50% {
    transform: translate3d(-2px, 0, 0);
  }

  70% {
    transform: translate3d(1px, 0, 0);
  }

  90% {
    transform: translate3d(-1px, 0, 0);
  }
}


.tgchart > .head:after,
.tgchart .popup .title:after,
.tgchart .popup .row:after {
  clear: both;
  content: '';
  display: block;
}

.tgchart > .head {
  padding-bottom: 10px;
  line-height: 18px;
  padding: 0 11px;
}

.tgchart > .head > .chart-title,
.tgchart > .head > .dates-range {
  font-weight: 500;
}

.tgchart > .head > .chart-title {
  font-weight: 600;
  font-size: 14px;
  float: left;
}

@media (min-width: 600px) {
    .tgchart > .head > .chart-title {
        font-size: 17px;
    }
}

.tgchart > .head > .dates-range {
  float: right;
  font-size: 12px;
  margin-top: 1px;
}

@media (min-width: 600px) {
    .tgchart > .head > .dates-range {
        font-size: 15px;
    }
}
