doctype html
html lang="ru"
  head
    meta charset="UTF-8"
    meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover, shrink-to-fit=no" name="viewport"
    meta content="ie=edge" http-equiv="X-UA-Compatible"
    meta name="apple-mobile-web-app-capable" content="yes"
    title Telegram Charts - Stage 2
    link rel="icon" href="favicon.ico" type="image/x-icon"
    link rel="stylesheet" type="text/css" href="styles/app.css"
    link rel="stylesheet" type="text/css" href="styles/tgchart.css"

  body
    main
      #charts
      #buttons
        button onclick="onChangeTheme(event)" Switch to Night Mode
        div
          a href="README.txt" target="_blank" Author, features, usage & development description

      #preloader
        .spinner

      script src="app.js" type="application/javascript" defer="true"
